.row .col-1, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9, .row .col-10, .row .col-11, .row .col-12, .row .col-offset-1, .row .col-offset-2, .row .col-offset-3, .row .col-offset-4, .row .col-offset-5, .row .col-offset-6, .row .col-offset-7, .row .col-offset-8, .row .col-offset-9, .row .col-offset-10, .row .col-offset-11 {
  float: left;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.row.unpadded .col-1, .row.unpadded .col-2, .row.unpadded .col-3, .row.unpadded .col-4, .row.unpadded .col-5, .row.unpadded .col-6, .row.unpadded .col-7, .row.unpadded .col-8, .row.unpadded .col-9, .row.unpadded .col-10, .row.unpadded .col-11, .row.unpadded .col-12 {
  padding-left: 0;
  padding-right: 0;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.row {
  clear: both;
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
  width: 100%;
}
.row .col-1 {
  width: 8.33333%;
}
.row .col-2 {
  width: 16.66667%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.33333%;
}
.row .col-5 {
  width: 41.66667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.33333%;
}
.row .col-8 {
  width: 66.66667%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.33333%;
}
.row .col-11 {
  width: 91.66667%;
}
.row .col-12 {
  width: 100%;
}
.row .col-offset-1 {
  margin-left: 8.33333%;
}
.row .col-offset-2 {
  margin-left: 16.66667%;
}
.row .col-offset-3 {
  margin-left: 25%;
}
.row .col-offset-4 {
  margin-left: 33.33333%;
}
.row .col-offset-5 {
  margin-left: 41.66667%;
}
.row .col-offset-6 {
  margin-left: 50%;
}
.row .col-offset-7 {
  margin-left: 58.33333%;
}
.row .col-offset-8 {
  margin-left: 66.66667%;
}
.row .col-offset-9 {
  margin-left: 75%;
}
.row .col-offset-10 {
  margin-left: 83.33333%;
}
.row .col-offset-11 {
  margin-left: 91.66667%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
