.row
{
	clear: both;
	margin-top: $row-margin;
	margin-bottom: $row-margin;
	float: left;
	width: 100%;

	@for $i from 1 through $max-cols
	{
		.col-#{$i}
		{
			@extend %col-foundation;
			@include col($i);
		}
	}

	@for $i from 1 through $max-cols - 1
	{
		.col-offset-#{$i}
		{
			@extend %col-foundation;
			@include col-offset($i);
		}
	}

	&.unpadded
	{
		@for $i from 1 through $max-cols
		{
			.col-#{$i}
			{
				@extend %unpadded;
			}
		}
	}
}